<section class="banner-section d-flex justify-content-center align-items-center py-5">
  <div class="container d-flex align-items-center flex-column">
    <h1 class="text-center text-light">SAMPLE SHOP</h1>

    <a href="{{ shop.url }}" class="btn btn-primary">Shop Now</a>
  </div>
</section>
